# Setup

In [15]:
import OpenDartReader
from dotenv import load_dotenv
from pathlib import Path
import os


dotenv_path = Path('/workspace/008_PseudoLab/server/.env')
load_dotenv(dotenv_path)
api_key = os.getenv('OPEN_DART_API_KEY')

dart = OpenDartReader(api_key)

In [16]:
# ==== 1-4. 공시정보 - 고유번호 ====
# 종목코드로 고유번호 얻기
dart.find_corp_code('힘스')

# 기업명으로 고유번호 얻기
# dart.find_corp_code('삼성전자')

'00556712'

In [17]:
### 3. 상장기업 재무정보 ###
# 상장법인(금융업 제외)의 주요계정과목(재무상태표, 손익계산서)

# 삼성전자 2021 재무제표
# '11013'=1분기보고서, '11012'=반기보고서, '11014'=3분기보고서, '11011'=사업보고서
financial_statement = dart.finstate('삼성전자', 2023, reprt_code=11011)
financial_statement_all = dart.finstate_all('삼성전자', 2023)

# 여러 상장법인(금융업 제외)의 주요계정과목(재무상태표, 손익계산서)
# dart.finstate('00126380,00164779,00164742', 2021)
# dart.finstate('005930, 000660, 005380', 2021)
# dart.finstate('삼성전자, SK하이닉스, 현대자동차', 2021)

# 재무제표 XBRL 원본 파일 저장 (삼성전자 2021 사업보고서)
# dart.finstate_xml('20220308000798', save_as='삼성전자_2021_사업보고서_XBRL.zip')

# 전체 재무제표 (삼성전자 2021 전체 재무제표)
# dart.finstate_all('005930', 2021)

# XBRL 표준계정과목체계(계정과목)
# dart.xbrl_taxonomy('BS1')

reprt_code='11011', fs_div='CFS' (사업보고서, 연결제무제표)'

In [18]:
financial_statement.to_csv("samjeon.csv", index=False)
financial_statement_all.to_csv("samjeon_all.csv", index=False)

In [49]:
a = a[['bsns_year', 'stock_code', 'account_nm', 'thstrm_nm', 'thstrm_dt', 'thstrm_amount', 'frmtrm_nm', 'frmtrm_dt', 'frmtrm_amount', 'bfefrmtrm_nm', 'bfefrmtrm_dt', 'bfefrmtrm_amount']]
a.to_csv("samjeon.csv")

In [11]:
financial_statement_all[financial_statement_all['sj_div'].isin(['BS', 'IS', 'CF'])]

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount
0,20240312000736,11011,2023,00126380,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 55 기,455905980000000,제 54 기,448424507000000,제 53 기,426621158000000,7,KRW,NaN
1,20240312000736,11011,2023,00126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 55 기,195936557000000,제 54 기,218470581000000,제 53 기,218163185000000,8,KRW,NaN
2,20240312000736,11011,2023,00126380,BS,재무상태표,dart_ShortTermOtherReceivables,미수금,-,제 55 기,6633248000000,제 54 기,6149209000000,제 53 기,4497257000000,9,KRW,NaN
3,20240312000736,11011,2023,00126380,BS,재무상태표,dart_ShortTermPrepaidExpenses,선급비용,-,제 55 기,3366130000000,제 54 기,2867823000000,제 53 기,2336252000000,10,KRW,NaN
4,20240312000736,11011,2023,00126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 55 기,69080893000000,제 54 기,49680710000000,제 53 기,39031415000000,11,KRW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,20240312000736,11011,2023,00126380,CF,현금흐름표,ifrs-full_IncomeTaxesPaidRefundClassifiedAsOpe...,법인세 납부액,-,제 55 기,6620950000000,제 54 기,11498895000000,제 53 기,8842049000000,40,KRW,NaN
118,20240312000736,11011,2023,00126380,CF,현금흐름표,ifrs-full_InterestPaidClassifiedAsOperatingAct...,이자의 지급,-,제 55 기,844691000000,제 54 기,714543000000,제 53 기,434441000000,41,KRW,NaN
119,20240312000736,11011,2023,00126380,CF,현금흐름표,ifrs-full_InterestReceivedClassifiedAsOperatin...,이자의 수취,-,제 55 기,4786010000000,제 54 기,2136795000000,제 53 기,1406706000000,42,KRW,NaN
120,20240312000736,11011,2023,00126380,CF,현금흐름표,ifrs-full_EffectOfExchangeRateChangesOnCashAnd...,외화환산으로 인한 현금의 변동,-,제 55 기,792785000000,제 54 기,-539198000000,제 53 기,1582046000000,43,KRW,NaN
121,20240312000736,11011,2023,00126380,CF,현금흐름표,ifrs-full_IncreaseDecreaseInCashAndCashEquival...,현금및현금성자산의순증감,-,제 55 기,19400183000000,제 54 기,10649295000000,제 53 기,9648837000000,44,KRW,NaN

In [15]:
event_list = ['부도발생', '영업정지', '회생절차', '해산사유', '유상증자', '무상증자', '유무상증자', '감자', '관리절차개시', '소송', '해외상장결정', '해외상장폐지결정', '해외상장', '해외상장폐지', '전환사채발행', '신주인수권부사채발행', '교환사채발행', '관리절차중단', '조건부자본증권발행', '자산양수도', '타법인증권양도', '유형자산양도', '유형자산양수', '타법인증권양수', '영업양도', '영업양수', '자기주식취득신탁계약해지', '자기주식취득신탁계약체결', '자기주식처분', '자기주식취득', '주식교환', '회사분할합병', '회사분할', '회사합병', '사채권양수', '사채권양도결정']

In [26]:
import time
for event in event_list:
    print(dart.event('삼성전자', event))
    time.sleep(0.1)

{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
         rcept_no corp_cls corp_code corp_name od_a_at_t od_a_at_b adt_a_atn  \
0  20160128000009        Y  00126380      삼성전자         4         1         -
1  20160728000002        Y  00126380      삼성전자         5         0         -
2  20170427000020        Y  00126380      삼성전자         5         0         -
3  20160428000005        Y  00126380      삼성전자         5         0         -
4  20171031000013        Y  00126380      삼성전자         5         0         -
5  20151029000003        Y  00126380      삼성전자         5         0         -
6  20170124000322        Y  00126380      삼성전자         5         0         -
7  20170727000008        Y  00126380      삼성전자         5         0         -

  aqpln_stk_ostk aqpln_stk_estk     aqpln_prc_ostk  ... aq_wtn_div_ostk_rt  \
0      2,100,000        530,000  2,467,500,000,000  ...               12.4
1        990,000        230,000  1,511,730,000,000  ...               12.7
2        900,000        225,000  1,926,000,000,000  ...               12.9
3      1,300,000        320,000  1,690,000,000,000  ...               12.6
4        712,000        178,000  1,923,824,000,000  ...                7.0
5      2,230,000      1,240,000  2,916,840,000,000  ...               12.2
6      1,020,000        255,000  1,941,060,000,000  ...               12.8
7        670,000        168,000  1,669,640,000,000  ...                6.9

  aq_wtn_div_estk aq_wtn_div_estk_rt eaq_ostk eaq_ostk_rt eaq_estk  \
0       3,229,693               15.0        -           -        -
1       3,229,693               15.6        -           -        -
2       3,229,693               15.9        -           -        -
3       3,229,693               15.3        -           -        -
4       1,614,846                8.8        -           -        -
5       3,229,693               14.1        -           -        -
6       3,229,693               15.7        -           -        -
7       1,614,846                8.8        -           -        -

  eaq_estk_rt          aq_dd d1_prodlm_ostk d1_prodlm_estk
0           -  2016년 01월 28일        210,000         53,000
1           -  2016년 07월 28일         99,000         23,000
2           -  2017년 04월 27일         90,000         22,500
3           -  2016년 04월 28일        130,000         32,000
4           -  2017년 10월 31일         71,200         17,800
5           -  2015년 10월 29일        223,000        124,000
6           -  2017년 01월 24일        102,000         25,500
7           -  2017년 07월 27일         67,000         16,800

[8 rows x 29 columns]
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
         rcept_no corp_cls corp_code corp_name           bddd od_a_at_t  \
0  20160912000519        Y  00126380      삼성전자  2016년 09월 12일         5

  od_a_at_b adt_a_atn cdobprpd_bgd cdobprpd_edd  ... abcr_osprpd_edd  \
0         0         -            -            -  ...               -

  abcr_trspprpd_bgd abcr_trspprpd_edd abcr_nstkascnd abcr_shstkcnt_rt_at_rs  \
0                 -                 -              -                      -

  abcr_nstkasstd abcr_nstkdlprd abcr_nstklstprd           dvdt       dvrgsprd
0              -              -               -  2016년 11월 01일  2016년 11월 04일

[1 rows x 49 columns]
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Empty DataFrame
Columns: []
Index: []

In [ ]:



### 4. 지분공시 ###
# 대량보유 상황보고 (종목코드, 종목명, 고유번호 모두 지정 가능)
dart.major_shareholders('삼성전자')

# 임원ㆍ주요주주 소유보고 (종목코드, 종목명, 고유번호 모두 지정 가능)
dart.major_shareholders_exec('005930')

### 5. 주요사항보고서  ###
# dart.event(corp, event, start=None, end=None)
# 조회가능한 주요사항 항목: 
# ['부도발생', '영업정지', '회생절차', '해산사유', '유상증자', '무상증자', '유무상증자', '감자', '관리절차개시', '소송', '해외상장결정', '해외상장폐지결정', '해외상장', '해외상장폐지', '전환사채발행', '신주인수권부사채발행', '교환사채발행', '관리절차중단', '조건부자본증권발행', '자산양수도', '타법인증권양도', '유형자산양도', '유형자산양수', '타법인증권양수', '영업양도', '영업양수', '자기주식취득신탁계약해지', '자기주식취득신탁계약체결', '자기주식처분', '자기주식취득', '주식교환', '회사분할합병', '회사분할', '회사합병', '사채권양수', '사채권양도결정']

dart.event('052220', '영업정지', '2019') # iMBC(052220)
dart.event('라이트론', '회생절차', '2019') # 라이트론(069540)
dart.event('휴림네트웍스', '유상증자') # 휴림네트웍스(192410)
dart.event('미원상사', '무상증자') # 미원상사(084990)
dart.event('017810', '전환사채발행') # 풀무원(017810)
dart.event('키다리스튜디오', '신주인수권부사채발행') #  키다리스튜디오(020120) 
dart.event('이스트소프트', '교환사채발행') # 이스트소프트(047560) 


### 6. 증권신고서   ###
# dart.regstate(corp, key_word, start=None, end=None)
# 조회가능한 증권신고서 항목: ['주식의포괄적교환이전', '합병', '증권예탁증권', '채무증권', '지분증권', '분할']

dart.regstate('하림지주', '주식의포괄적교환이전')
dart.regstate('사조대림', '합병')
dart.regstate('에스앤케이', '증권예탁증권')
dart.regstate('BNK금융지주', '채무증권')
dart.regstate('금호전기', '지분증권')
dart.regstate('케이씨씨', '분할')

### 7. 확장 기능   ###
# 지정한 날짜의 공시목록 전체 (공시 시간 정보 포함)
dart.list_date_ex('2022-10-03')

# 하위 문서(sub_docs), 첨부 문서(attach_doc_list)
rcp_no = '20220308000798' 
dart.sub_docs(rcp_no) # 하위 문서 제목과 URL
dart.sub_docs(rcp_no, match='감사의견')  # 제목이 잘 매치되는 순서로 소트
dart.attach_doc_list(rcp_no) # 첨부 문서(i.e. 감사보고서) 제목과 URL
dart.attach_doc_list(rcp_no, match='감사의의견서') # 제목이 잘 매치되는 순서로 소트

# 첨부 파일 제목과 URL
dart.attach_files(rcp_no)

# URL을 지정한 파일로 다운로드
url = 'http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20220308000798&dcm_no=8446647&lang=ko'
fn = '[삼성전자]사업보고서_재무제표(2022.03.08)_ko.xls'
dart.download(url, fn)

# 첨부파일 모두 다운로드
for k in dart.attach_files('20221111000817'):
    url, fn = atts[k], k
    print(url, fn)
    dart.download(url, fn)

In [7]:
a = """
Thought: The previous action was incorrect. Let's try a different approach to provide the user with information on stock investment methods.
Action: investment_method
Action Input: {"query": "주식 투자 방법"}
"""

In [8]:
a[a.find('Action:'):a.find('Action Input:')].lstrip('Action:').strip()

'investment_method'

In [14]:
a[a.find('Action:'):a.find('Action Input:')].lstrip('Action:')

'Action: investment_method\n'

In [30]:
b = """
Thought: The previous action was incorrect. Let's try a different approach to provide the user with information on stock investment methods.
Action Name: [investment_method]
Action Input: {"query": "주식 투자 방법"}
"""

In [31]:
b[b.find('Action Name:'):b.find('Action Input:')].lstrip('Action Name:')

'[investment_method]\n'

In [71]:
import pandas as pd

table = pd.read_csv("/workspace/008_PseudoLab/server/set.csv", encoding='utf-8')
table.head()

     종목코드     종목명
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620     APS
4  265520   AP시스템

In [85]:
set_dict = {}

for i in range(len(table)):
    set_dict[table['종목명'][i]] = table['종목코드'][i]

In [86]:
import json

with open('/workspace/008_PseudoLab/server/set.json', 'w', encoding='utf-8') as f:
    json.dump(set_dict, f, ensure_ascii=False)

In [26]:
import pandas as pd

# CSV 파일 불러오기
file_path = '/workspace/008_PseudoLab/CLOVA_Studio_Stock-helper/llm-server/dart-api/samjeon_all.csv'

data = pd.read_csv(file_path)

# 55기 데이터 필터링 (제 55 기)
df_55 = data[data['thstrm_nm'] == '제 55 기']

# 사용할 계정 ID 목록 업데이트
financial_data = df_55[df_55['account_id'].isin([
    'ifrs-full_CurrentAssets', 'ifrs-full_CurrentLiabilities', 'ifrs-full_Liabilities', 'ifrs-full_Equity', 
    'ifrs-full_SharePremium', 'ifrs-full_RetainedEarnings', 'ifrs-full_IssuedCapital', 
    'dart_OperatingIncomeLoss', 'dart_OtherGains', 'dart_OtherLosses', 
    'ifrs-full_ProfitLoss', 'ifrs-full_Revenue', 'ifrs-full_FinanceCosts'
])]

# 계산을 위한 재무 데이터 딕셔너리 생성
financial_dict = financial_data.set_index('account_id')['thstrm_amount'].to_dict()

# 계산을 위해 모든 값을 float로 변환
for key in financial_dict:
    financial_dict[key] = float(financial_dict[key])

# 계산 수행
# 1. 유동비율 = (유동자산 / 유동부채) * 100
current_ratio = (financial_dict['ifrs-full_CurrentAssets'] / financial_dict['ifrs-full_CurrentLiabilities']) * 100

# 2. 부채비율 = (부채총계 / 자본총계) * 100
debt_ratio = (financial_dict['ifrs-full_Liabilities'] / financial_dict['ifrs-full_Equity']) * 100

# 3. 유보율 = (자본잉여금 + 이익잉여금) / 납입자본금 * 100
reserve_ratio = ((financial_dict['ifrs-full_SharePremium'] + financial_dict['ifrs-full_RetainedEarnings']) / 
                 financial_dict['ifrs-full_IssuedCapital']) * 100

# 4. 자본잠식률 = {(자본금 - 자본총계) / 자본금} * 100
capital_impairment_ratio = ((financial_dict['ifrs-full_IssuedCapital'] - financial_dict['ifrs-full_Equity']) / 
                            financial_dict['ifrs-full_IssuedCapital']) * 100

# 5. 경상이익 = 영업이익 + 영업외수익 - 영업외비용
ordinary_income = (financial_dict['dart_OperatingIncomeLoss'] + financial_dict['dart_OtherGains'] - 
                   financial_dict['dart_OtherLosses'])

# 8. 매출액경상이익률 = 경상이익 / 매출액 * 100
ordinary_income_ratio = (ordinary_income / financial_dict['ifrs-full_Revenue']) * 100

# 9. 이자보상배율 = 영업이익 / 이자비용 * 100
interest_coverage_ratio = (financial_dict['dart_OperatingIncomeLoss'] / financial_dict['ifrs-full_FinanceCosts']) * 100

# 10. 자기자본이익률 = 당기순이익 / 자본총액 * 100
roe = (financial_dict['ifrs-full_ProfitLoss'] / financial_dict['ifrs-full_Equity']) * 100

# 결과를 데이터프레임에 저장
results = pd.DataFrame({
    '지표': ['유동비율', '부채비율', '유보율', '자본잠식률', '경상이익', 
           '매출액경상이익률', '이자보상배율', '자기자본이익률'],
    '값': [f"{current_ratio:.2f}%", f"{debt_ratio:.2f}%", f"{reserve_ratio:.2f}%", f"{capital_impairment_ratio:.2f}%", 
          f"{int(ordinary_income)}원", f"{ordinary_income_ratio:.2f}%", f"{interest_coverage_ratio:.2f}%", f"{roe:.2f}%"]
})

results

         지표               값
0      유동비율         258.77%
1      부채비율         883.07%
2       유보율       39114.28%
3     자본잠식률       -1063.67%
4      경상이익  6664097000000원
5  매출액경상이익률           2.57%
6    이자보상배율          51.93%
7   자기자본이익률         138.58%

In [20]:
results

                     Metric         Value
0             Current Ratio  2.587665e+02
1                Debt Ratio  8.830651e+02
2             Reserve Ratio  3.911428e+04
3  Capital Impairment Ratio -1.063669e+03
4           Ordinary Income  6.664097e+12
5     Ordinary Income Ratio  2.573651e-02
6   Interest Coverage Ratio  5.193120e-01
7                       ROE  1.385798e+00

In [13]:
import pandas as pd

# Load the provided CSV file
file_path = '/workspace/008_PseudoLab/CLOVA_Studio_Stock-helper/llm-server/dart-api/samjeon_all.csv'
data = pd.read_csv(file_path, index_col=['Unnamed: 0'])

# Display the first few rows of the dataframe to understand its structure
data.head()

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount
0,20240312000736,11011,2023,126380,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 55 기,4.559060e+14,제 54 기,4.484245e+14,제 53 기,426621158000000,7,KRW,NaN
1,20240312000736,11011,2023,126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 55 기,1.959366e+14,제 54 기,2.184706e+14,제 53 기,218163185000000,8,KRW,NaN
2,20240312000736,11011,2023,126380,BS,재무상태표,dart_ShortTermOtherReceivables,미수금,-,제 55 기,6.633248e+12,제 54 기,6.149209e+12,제 53 기,4497257000000,9,KRW,NaN
3,20240312000736,11011,2023,126380,BS,재무상태표,dart_ShortTermPrepaidExpenses,선급비용,-,제 55 기,3.366130e+12,제 54 기,2.867823e+12,제 53 기,2336252000000,10,KRW,NaN
4,20240312000736,11011,2023,126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 55 기,6.908089e+13,제 54 기,4.968071e+13,제 53 기,39031415000000,11,KRW,NaN

In [14]:
# Extract necessary columns for calculations
# Select relevant columns based on previous data selection

selected_columns = {
    '자산총계': 'ifrs-full_Assets',
    '유동자산': 'ifrs-full_CurrentAssets',
    '현금및현금성자산': 'ifrs-full_CashAndCashEquivalents',
    '매출채권': 'ifrs-full_TradeAndOtherCurrentReceivables',
    '재고자산': 'ifrs-full_Inventories',
    '자본총계': 'ifrs-full_Equity',
    '부채총계': 'ifrs-full_Liabilities',
    '유동부채': 'ifrs-full_CurrentLiabilities',
    '단기차입금': 'dart_ShortTermBorrowings',
    '장기차입금': 'ifrs-full_NoncurrentBorrowings',
    '사채': 'ifrs-full_IssuedDebtSecurities',
    '영업이익': 'dart_OperatingIncomeLoss',
    '매출총이익': 'ifrs-full_GrossProfit',
    '법인세비용차감전순이익(손실)': 'ifrs-full_ProfitLossBeforeTax',
    '당기순이익(손실)': 'ifrs-full_ProfitLoss',
    '영업수익': 'ifrs-full_Revenue',
    '배당금의 지급': 'ifrs-full_DividendsPaid',
}

# Create a dataframe with the selected columns
df_selected = data[data['account_id'].isin(selected_columns.values())]

# Pivot the table to get years as columns and account names as rows
df_pivot = df_selected.pivot(index='account_id', columns='thstrm_nm', values='thstrm_amount')

# Rename the index based on selected_columns for readability
df_pivot.index = [k for k, v in selected_columns.items() if v in df_pivot.index]

# Display the pivoted dataframe
df_pivot

ValueError: Index contains duplicate entries, cannot reshape

In [4]:
import numpy as np

# Calculate ratios
ratios = {
    '유동비율': (df_pivot.loc['유동자산'] / df_pivot.loc['유동부채']) * 100,
    '자기자본비율': (df_pivot.loc['자본총계'] / df_pivot.loc['자산총계']) * 100,
    '부채비율': (df_pivot.loc['부채총계'] / df_pivot.loc['자본총계']) * 100,
    '매출액 이익율': (df_pivot.loc['매출총이익'] / df_pivot.loc['영업수익']) * 100,
    '총자산 이익율': (df_pivot.loc['영업이익'] / df_pivot.loc['자산총계']) * 100,
    '주당순이익(EPS)': df_pivot.loc['당기순이익(손실)'] / 100,  # Assuming 100 shares for simplicity
    '총자산회전율': (df_pivot.loc['영업수익'] / df_pivot.loc['자산총계']) * 100,
    '배당성향': (df_pivot.loc['배당금의 지급'] / df_pivot.loc['당기순이익(손실)']) * 100
}

# Convert ratios to DataFrame for better readability
ratios_df = pd.DataFrame(ratios, index=['제 55 기'])

ratios_df

NameError: name 'df_pivot' is not defined